
.cards{
    display:flex;
}

.card-date{
    height: 4em;
    width: 4em;
    text-align: center;
    margin: 0 auto;
    color: white;

    p{
        font-size: 10px
    }

    h3{
        margin:0;
        
    }
}

.card-date-top{
    height: 25%;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.card-date-bottom{
    height: auto;
    margin-top: 3%;
    background-color: white;
    border-radius: 0 0 10px 10px;
}