.dashboard{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    color: white;
}


#DateAvailability{
    height: 33%;
    margin: 0;
    padding-top: 10px;

    i{
        font-weight: 900;
        font-size: 30px;
        margin: 30px;
    }

}
#Appointements{
    height: 33%;
    margin: 0;
    padding-top: 10px;
    

}

#Contact{
    height: 33%;
    margin: 0;
    padding-top: 10px;

}

.date{
    margin: 10px 0;

    form{
        display: flex;
    }

    button{
        color: white;
    }
    .date-input{ 
        width: 30%;
        border: none;
        margin: 0 auto;
        text-align: center;
        color: #c3c9c7;
        font-size: 12px;
    }
    .time-input{
        font-size: 12px
    }

    p{
        margin: auto 2%;
        color: white;
    }
}