<div class='userForm'>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <div class="statusSelect SignUp">
        <h1>Seeker</h1>
        <h1>Worker</h1>
        <div class='status'>
          <%= f.input :first_name,
                      required: true,
                      autofocus: true%>
        </div>
      </div>

      <div class="infos SignUp hidden">
      <h1>hello</h1>
      </div>
  <% end %>
  <div class='nextButton'><i class="fas fa-angle-double-right"></i></div>
  <div class="step" style="display: none"> 1 </div>
  </div>

