.user_service_title{
    display: flex;
    justify-content: space-between;
    color:white;
    width: 80%;
    margin: 10px auto;

    p{
        margin: 0;
    }

    .notation{
        margin: auto 0;
    }

    
}

.description_userservice{
    width: 80%;
    color: white;
    margin: 0 auto;
}