.avatar{
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin: 1px 10px;
    border: 2px solid white;
    opacity: 0.9;
}

.navbar {
    justify-content: space-between;
    position: relative;
    display: flex;
    border-bottom: 3px solid white;
    width: 100%;

    i{
        font-size: 7vh;
        color: white;
        margin: 10px;
    }
}