<div id='DateAvailability'>
<h3> My availability </h3>
    <% if @user.availability == [] %>
        <p> no availability</p>
    <% else %>
    <div class='cards'>
        <%@arrayof5day.each do |date| %>


            <div class='card-date'>
                <div class='card-date-top avaibality_card'  >
                    <p> <%=date.strftime("%A")%> </p>
                </div>
                <div class='card-date-bottom  avaibality_card' >
                    <h3> <%=date.day%></h3>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                
            </div>
        <% end %>
    </div>
    <%end%>
</div>