

  <div class="divLogs">
    <div class="homeLogs">
      <%= link_to 'Connexion', new_user_session_path, class: "Logs" %>
    </div>
    <div class="homeLogs">
      <%= link_to "S'inscrire", new_user_registration_path, class: "Logs" %>
    </div>
  </div>
