<div class="full-screen">
  <div id='homeDiv'>

      <button class='user-connexion'>
          <%= link_to 'Connexion', new_user_session_path, class: "login" %>
      </button>

      <button class='user-connexion'>
        <%= link_to "S'inscrire", new_user_registration_path, class: "login" %>
      </button>
  </div>
</div>


