.searchIdsService{
    height: 80%;
}

.searchIdsService h3{
    font-size: 30px;
}

.SelectServiceToSearch{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 4% auto;
    height: 54%;
}

.searchIdsService{
    .form-control{
        width: 50%;
        background-color: white;
        border: none;
    }
    #formsearch_starts_time{
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s;
    border: none;
    margin: 0 auto;
    }
    label {
        display: none;
    }

    #formsearch_timing{
        display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s;
    border: none;
    margin: 0 auto;
    }
    .input, h3 {
        margin-top: 5%;
    }

    button{
        border:none;
        background-color: #95F1D0;
        color: white;
        font-size: 50px;
    }

    .active{
        color: #FD5C02;
    }
}