.searchIdsService{
    height: 80%;
}

.searchIdsService h3{
    font-size: 30px;
}

.SelectServiceToSearch{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10% auto;
    height: 54%;
}