// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin:0;
    height: 100vh;
    background-color: #95F1D0;
}

h1{
    margin:0;
}

a{
    text-decoration:none;
}