// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #95F1D0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
}

.new_user{
    width: 100%;
}

h1{
    margin:0;
}

a{
    text-decoration:none;
}