.userForm{
    width: 100%;
    height: 100%;
}

.new_user{
    width: 100%;
    height: 50%;
    padding-top: 50%;
}

.nextButton{
    font-size: 150px;
    text-align: center;
    color: white;
    height: 20%;
}


.SignUp{
    width: 100%;
}

.hidden{
    display: none;
}


.statusSelect h1{
    text-align: center;
    width: 60%;
    margin: 5vh auto;
    padding: 38px;
    border: 8px solid white;
    border-radius: 80px;
    cursor: pointer;
    color: white;
}

.status{
    display: none;
}

.statusSelect .clicked{
    background-color: white;
    opacity:0.8;
    color:#95F1D0
}