
.user-connexion{
    display: block;
    margin: 5% auto;
    color: white;
    height: 10vh;
    width: 80%;
    background-color: #95F1D0;
    border: none;
    border-radius: 80px;
    border: 4px solid white;
    padding: 0;
}

.login {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.user-connexion:hover{
    background-color: white;
    color: #95F1D0;

    .login{
        color: #95F1D0;
    }
}

.nextButton{
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    font-size: 90px;
    text-align: center;
    color: white;
    height: 50%;
    width: 100%;
}

