.full-screen{
    height: auto;
    min-height: 100vh;
    position: fixed;
    width: 100%;
    background-color: #95F1D0;
}

.top-page{
    min-height: 70vh;
    position: relative;
}

.bottom-page{
    min-height: 30vh;
    position: relative;

}

form{
    width: 100%;
    resize: vertical;
    overflow: auto;
    margin: 0 auto;
    text-align: center;


    h3{
        color: white;
        font-size: 4vh;
    }
}

input{
    width: 60%;
    height: 5vh;
    border: none;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    color: #c3c9c7;
}

.hidden{
    display: none;
}

textarea {
    width: 70%;
    height: 40vh;
    border: none;
    border-radius: 10px;
    color:#c3c9c7
}

body{
    margin: 0
}

#homeDiv {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    resize: vertical;
    overflow: auto;
    margin: 0 auto;
}

label{
    display: none;
}
.flatpickr-calendar{
    margin:20px auto;
}
  