<div class='header'>
     <%= link_to dashboard_path do %>
          <i class="fas fa-long-arrow-alt-left"></i>
     <% end %>
</div>


     <input type="date" name="availability[date]" value=${e} class='availability inputDate hidden' />
<div class='test' data-availabilities=<%= @allAvailabilitiesFromToday.to_json %>>
</div>
